// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
// cta is the acronym for call to action
$cta_teal_normal: #008A8A;
$cta_teal_hover: #007070;
$cta_teal_light: #4AE6E6;
$cta_teal_pressed: #005858;
//bg is the acronym for background
$bg_white_grey: #F3F3F3;
// pg is the acronym for progrssive -- progresiv blue
$pg_blue_normal: #4AE6E6;
// greys
$desabled_grey: #C1C1C1;
$desabled_grey: #999999;
// Typography
$text_black_grey: #161616;
