<h2>My Maps</h2>

<% @maps.each do |map| %>
  <% if map.user == current_user %>
    <div>
      <%= link_to map_path(map) do %>
        <%= map.name %>
      <% end %>
     </div>
  <% end %>
<% end %>

<%= link_to "Add a map", new_map_path %>

