<div class="map_card_default">
  <div class="map_card_img">
  <div class="map_card_map"
      data-controller="map"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div class="map_card_separator">
  </div>
  <div class="map_card_text_box d-flex justify-content-between p-2">
    <div class="map_card_text_content">
      <h5><%= map.name %></h5>
      <div><p class="map_description"><%= map.description %></p></div>
    </div>
    <%= link_to "Edit", edit_map_path(map) %>
  </div>
</div>
