<div class="badge">
  <% if location.name %>
    <%= image_tag "compass-rose.png", height: 30, width: 30, alt: "available" %>
  <% else %>
    <%= image_tag "plora-symbol.svg", height: 30, width: 30, alt: "unavailable" %>
  <% end %>
</div>
