<div style="width: 100%; height: (100vh - 64.8px - 46.5px);"
  data-controller="home"
  data-home-home-value="<%= @home.to_json %>"
  data-home-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
