.button_primary {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  color: $text_white_grey;
  background-color: $cta_teal_normal;
  border-radius: 20px;
}

.button_primary:hover {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  color: $text_white_grey;
  background-color: $cta_teal_hover;
  border-radius: 20px;
}

.button_link {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 15px;
  font-weight: normal;
  color: $cta_teal_normal;
  border-radius: 20px;
  border: 0px;
}

.button_link:hover {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 15px;
  font-weight: normal;
  color: $cta_teal_hover;
  border-radius: 20px;
  border: 0px;
}

.button_link:active {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 15px;
  font-weight: normal;
  color: $cta_teal_hover;
  border-radius: 20px;
  border: 0px;
}


.button_destroy {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  color: $text_white_grey;
  background-color: $destroy;
  border-radius: 20px;
}

.button_destroy:hover {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  color: $text_white_grey;
  background-color: $destroy_hover;
  border-radius: 20px;
}
