.map_card_default {
  width: 360px;
  height: 178px;
  border-radius: 16px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.map_card_default:hover {
  width: 360px;
  height: 178px;
  border-radius: 16px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.27);
  position: relative;
}

.map_card_img {
  width: 360px;
  height: 109px;
  background-color: #b3ffe6;
  border-radius: 16px 16px 0px 0px;
}

.map_card_separator {
  flex-shrink: 360px;
  height: 1px;
  background-color: $cta_yellow_pressed;
}

.map_card_bottom_box {
  width: 360px;
  height: 69px;
  background-color: $bg_white_yellow_light;
  border-radius: 0px 0px 16px 16px;
}

.map_card_text_box {
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  flex-shrink: 0;
  margin: 16px;
  }

.map-card-link {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1200px) {
  .col-custom {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

@media (max-width: 990px) {
  .col-custom {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

.map_card_img {
  width: 360px;
  height: 109px;
  background-color: #b3ffe6;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}

.map_card_map {
  width: 100%;
  height: 100%;
  border: none;
}

.map-addmap{
  padding: 0px 12px;
  margin: 0px 0px 24px;
}
