.navbar-lewagon {
  justify-content: space-between;
  background: $bg_white_yellow_light;
  z-index: 99;
  border-bottom: solid 1px;
  border-color: $cta_yellow_pressed;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: $bg_white_yellow_light;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler:focus {
  border: 0px;
}

.logo {
  width: 120px;
  margin-bottom: 8px;
  margin-top: 8px;
}
