.text_map_name {
  font-family: $headers-font;
  font-size: 15px;
  font-weight: 550;
  color: $text_black_grey;
  margin-bottom: 0px;
}

.text_map_description {
  font-family: $body-font;
  font-size: 13px;
  font-weight: 300;
  color: $text_black_grey;
  font-feature-settings: 'liga' off, 'clig' off
}
